
@import "../../global.scss";


.about {
    // background-color: #af0404;
    // font-family: 'Just Another Hand', cursive;

    // width: 100px;
    // height: 100px;

    animation: 0s ease-in 3s 1 uploadPicture;
    animation-fill-mode:forwards;

    @keyframes uploadPicture {
        100% {
            background-image: url('./background3.jpg');
            background-size: 100% 100%;
            }     
           }


    .container {
        display: flex;
        width: 100vw;
        height: 100%;
        align-items: center;
        justify-content: center;
        // background-color: crimson;
        color: white;

        .item {
            display: flex;
            width: 70%;
            height: 60%;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            box-shadow: 10px 5px 35px rgba(0, 0, 0, 0.4);
            @include mobile{
                width: 80%;
                height: 90%;
            }

            .right {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #25252588;
                height: 100%;
                
                // @include mobile{
                //     // width: 100%;
                //     h1 {
                //         margin-bottom: 5px;
                //         align-self: baseline;

                //     }
                //     span {
                //         font-size: 22px;
                //         margin-bottom: 20px;
         
                //     }
                // }

                .wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    align-items: left;
                    justify-content: center;

                   
               


                    h1 {
                        margin-bottom: 5px;
                        align-self: baseline;

                    }
                    span {
                        font-size: 22px;
                        margin-bottom: 20px;
         
                    }
                }
            }
        }
    }
}
