@import "./global.scss";

.app {
    height: 100vh;
    overflow: hidden;
    background-color: #252525;

    .sweet-loading {
        
        background-color: #252525;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        // display: none;                    //   position: static;

        .loading{
            font-size: 45px;
            // background-color: red;
            height: 100px;
            color: white;
            // animation: 3s ease-in-out 2s 1 slideUp;
            display: flex;
            }
            animation: 1s ease-in-out 2s 1 slideUp;
            animation-fill-mode:forwards;

            @keyframes slideUp {
             
                100% {
            height: 0;                    //   position: static;
                }
              }

    }
    .sections {
        
        width: 100%;
        height: calc(100vh - 70px);
        background-color: #252525;
        position: relative;
        top: 70px;
        scrollbar-width: none;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;

        @include mobile{
            scroll-snap-type: none;

        }
        &::-webkit-scrollbar {
            display: none;
        }

        > * {
            
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
            
        }

        @include mobile{

            .works{
                height: 320vh;
            }    
            .about{
                height: 105vh;
            }  
          }
    }
}
